<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/v4-shims.css">
</head>
<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Favourites</h3>
                        <ul class="alt">
                            <li><a href="http://www.angel.net/~nic/askitiki.html">The saviours of God</a></li>
                            <li><a href="https://www.poetryfoundation.org/poems/48419/this-be-the-verse">This be the Verse</a></li>
                            <li><a href="https://www.youtube.com/watch?v=QdjVs_mX97M">The Irrepressibles</a></li>
                        </ul>
                    </div>
                    <!-- <div class="6u">
                        <h3>Projects</h3>
                        <ul class="alt">
                            <li><a href="https://play.google.com/store/apps/details?id=dark.matter.and.bright.minds&hl=en">Dark Matter and Bright Minds</a></li>
                            <li><a href="https://t.co/WRh80xMbiD">Collisions in cosmology</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="6u">
                <h2>Contact</h2>
                <!-- <p> How to reach me</p> -->
                <ul class="icons">
                    <!-- <li><a href="https://twitter.com/regnidorhcS" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/I.am.lost.in.a.rainbow" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/regnidorhcs/" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
                    <li><a href="https://github.com/Regnidorhcs" class="icon fa-git"><span class="label">Git</span></a></li>
                    <li><a href="https://www.researchgate.net/profile/Nicolas_Angelides"><span class="label"></span><i class="fab fa-researchgate"></i></a></li>
                    <li><a href="mailto:angelidesnicolas@gmail.com?Subject=Hello There 🦄" class="icon fa-envelope"><span class="label">Mail</span></a></li>
                    <!--<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
                    <!--<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>-->
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy;regnidorhcS. All rights reserved.</li>
            <!-- <li><a href="https://twitter.com/regnidorhcs?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @regnidorhcs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li> -->
            <li>Template: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Last edited: Dec 2024</li>
            <!--<li>Images: <a href="http://unsplash.com">Unsplash</a></li>-->
            <!--<li>Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>-->
        </ul>
    </div>
</footer>
