<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>What is Life?</h2>
                <p>I am a physics PhD student at UCL with a deep interest in Dark Matter</p>
                <ul class="actions">
                    <!-- <li><a href="documents/Nicolas_Angelides_CV_Aug_2017.pdf" target="_blank" class="button big black" style="opacity:0.8">CV</a></li> -->
                    <li><a href="mailto:angelidesnicolas@gmail.com?Subject=Hello There 🦄" class="button big black"  style="opacity:0.8">Contact</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
